<header class="p-3 mb-3 border-bottom" style="background-color: #104378;">
    
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img src="https://www.jobbkk.com/upload/employer/0A/19A/03119A/images/2022-05-249811.png" alt="" width="200" height="50">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">ข้อมูลโดยรวม</a></li>
                <li><a href="/empolyee" class="nav-link px-2 text-white">ข้อมูลพนักงาน</a></li>
                <li><a href="/calendar" class="nav-link px-2 text-white">ปฏิทิน</a></li>
                <li><a href="/noti" class="nav-link px-2 text-white">การแจ้งเตือน</a></li>
                <li><a href="/" class="nav-link px-2 text-white">การแจ้งเตือน</a></li>
                <li><a href="/" class="nav-link px-2 text-white">การแจ้งเตือน</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control" placeholder="Search" aria-label="Search">
            </form>

            <div class="dropdown text-end" >
                <a class="btn btn-outline-light me-2" href="/logout">Logout</a>
                </a>
            </div>
        </div>
    </div>
</header>