<%- include('layouts/head')%>
<%- include('layouts/header')%>

<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .form-signin {
        width: 100%;
        max-width: 80%;
        padding: 2rem;
        margin: auto;
        background-color: #f3f3f3;
    }
</style>
<body>
    <div class="form-container">
        <form class="form-signin row g-3" action="/noti" method="post">
            <div>
                <h2>Add Event</h2>
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">หัวข้อ</label>
                <input class="form-control" name="subject" >
            </div>

            <div class="col-md-6">
                <label for="" class="form-label">สถานที่ทำงาน</label>
                <input class="form-control" name="location" >
            </div>

            <div class="col-md-6">

                <script>
                    $(".fc-right .fc-button-group").append(
                    '<div class="input-group datetimepicker"><input type="text" class="form-control fc-datepicker" placeholder="DD-MM-YYYY" style="padding: 0;width: 0;border: none;margin: 0;"></div>');
                    $(".fc-datepicker").datepicker({
                    dateFormat: 'dd-mm-yy',
                    showOn: "button",
                    buttonText: '<span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>',
                    });
                    </script>
        
                  <body>
        
                  <p>วันที่ <input type="date" name="date" id="datepicker" ></p>
            
                  </body>

            </div>

            <div class="col-md-6">
                <label for="" class="form-label">เวลาเริ่มงาน</label>
                
                <input class="form-control" name="s_time" >
            </div>

            <div class="col-md-6">
                <label for="" class="form-label">เวลาเลิกงาน</label>
                <input class="form-control" name="e_time" >
            </div>

            <div class="col-md-6">
                <label for="" class="form-label">รายละเอียดงาน</label>
                <input class="form-control" name="detail" >
            </div>

            <div class="col-md-6">
                <label for="" class="form-label">ละจิจูด</label>
                <input class="form-control" name="latitude">
            </div>

            <div class="col-md-6">
                <label for="" class="form-label">ลองจิจูด</label>
                <input class="form-control" name="longtitude" >
            </div>
            <button class="btn btn-primary btn-block" type="submit">Add Event</button>
    
            
          </form>
    </div>
</body>

<%- include('layouts/footer')%>