<%- include('layouts/head')%>
<%- include('layouts/header')%>
<body style="background-color: #f3f3f3;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                <div class="card-body">
                    <h4 class="card-title">จำนวนพนักงานทั้งหมด</h4>
                    <p class="card-text">แสดงผลรูปแบบทีมการทำงานและพนักงานรายบุคคล</p>
                    <a href="#" class="btn btn-primary">ทีมการทำงาน</a>
                    <a href="#" class="btn btn-primary">พนักงานรายบุคคล</a>
                    
                </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                    <h4 class="card-title">การเข้าทำงานและการขาดงานของพนักงาน</h4>
                    <p class="card-text">แสดงผลรูปแบบทีมการทำงานและพนักงานรายบุคคล</p>
                    <p class="card-text">สรุปผลการการเข้าทำงานและการขาดงานของพนักงานในรูปแบบไฟล์ csv, pdf (แสดงผลรูปแบบรายเดือน และรายปี)</p>
                    <a href="#" class="btn btn-primary">ทีมการทำงาน</a>
                    <a href="#" class="btn btn-primary">พนักงานรายบุคคล</a>
                    <a href="#" class="btn btn-primary">ไฟล์ csv, pdf แสดงผลรูปแบบรายเดือน</a>
                    <a href="#" class="btn btn-primary">ไฟล์ csv, pdf แสดงผลรูปแบบรายปี</a>
                    </div>
                </div>
                </div>
            <div class="col-sm-12">
                <div class="card">
                <div class="card-body">
                    <h4 class="card-title">การลาของพนักงาน</h4>
                    <p class="card-text">แสดงผลรูปแบบทีมการทำงานและพนักงานรายบุคคล</p>
                    <p class="card-text">สรุปผลการการเข้าทำงานและการขาดงานของพนักงานในรูปแบบไฟล์ csv, pdf (แสดงผลรูปแบบรายเดือน และรายปี)</p>
                    <a href="#" class="btn btn-primary">ทีมการทำงาน</a>
                    <a href="#" class="btn btn-primary">พนักงานรายบุคคล</a>
                    <a href="#" class="btn btn-primary">ไฟล์ csv, pdf แสดงผลรูปแบบรายเดือน</a>
                    <a href="#" class="btn btn-primary">ไฟล์ csv, pdf แสดงผลรูปแบบรายปี</a>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                <div class="card-body">
                    <h4 class="card-title">การผ่านการอบรมของพนักงาน</h4>
                    <p class="card-text">แสดงผลรูปแบบทีมการทำงานและพนักงานรายบุคคล</p>
                    <a href="#" class="btn btn-primary">ทีมการทำงาน</a>
                    <a href="#" class="btn btn-primary">พนักงานรายบุคคล</a>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('layouts/footer')%>