<%- include('layouts/head')%>
<%- include('layouts/header')%>
<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .form-signin {
        width: 100%;
        max-width: auto;
        padding: 2rem;
        margin: auto;
        background-color: #f3f3f3;
    }
</style>
<body style="background-color: #f3f3f3;">
    <div class="container">
        <form class="form-signin" action="">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">ชื่อ</li>
                <li class="list-group-item">นามสกุล</li>
                <li class="list-group-item">รหัสบัตรประชาชน</li>
                <li class="list-group-item">ตำแหน่งงาน</li>
                <li class="list-group-item">ตำแหน่ง</li>
                <li class="list-group-item">เบอร์โทร</li>
                <li class="list-group-item">อีเมล</li>
                <li class="list-group-item">บ้านเลขที่</li>
                <li class="list-group-item">หมู่</li>
                <li class="list-group-item">ถนน</li>
                <li class="list-group-item">ตำบล</li>
                <li class="list-group-item">อำเภอ</li>
                <li class="list-group-item">จังหวัด</li>
                <li class="list-group-item">รหัสไปรษณีย์</li>
            </ul>
              <!-- <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
              </ul>
              <ul class="list-group list-group-horizontal-md">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
              </ul>
              <ul class="list-group list-group-horizontal-lg">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
              </ul>
              <ul class="list-group list-group-horizontal-xl">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
              </ul>
              <ul class="list-group list-group-horizontal-xxl">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
              </ul> -->
        </form>
    </div>
</body>
<%- include('layouts/footer')%>