<%- include('layouts/head')%>
<%- include('layouts/header')%>
<body style="background-color: #f3f3f3;">
    <div class="container">
            <h1>Notification Page</h1>
    </div>
</body>
<%- include('layouts/footer')%>